@tailwind base;
@tailwind components;
@tailwind utilities;

/* small extra utilities */

body {
  @apply bg-white text-gray-800;
}
/* Hide scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
